<!DOCTYPE html>
<html lang="es">
<head>
    <!--codificacion de los caracteres-->
    <meta charset="UTF-8">
    <!--meta viewport para que el navegador cargue la web desde diferentes dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--descripcion de la pagina web-->
    <meta name="description" content="Empresa de Electronica y Robotica">
    <!--palabras clave para el buscador-->
    <meta name="keywords" content="Keyday, Electronics, keydayelectronics, Electronica, Robotica, Robotics">
    <!--autor de la pagina-->
    <meta name="author" content="Francesc Miquel">
    <!--permite a los motores indexar la pagina-->
    <meta name="robots" content="index, follow">
    <!--enlace al archivo de estilo en la carpeta /css -->
    <link rel="stylesheet" href="../css/style.css">
    <!--enlace al icono de la ventana del navegador-->
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <title>Aviso Legal</title>
</head>
<body>
    <h1>Aviso Legal</h1>
    <!-- este parrafo contiene un enlace a la pagina principal-->
    <p>
        El presente Aviso Legal regula el uso del sitio web oficial de  <a href="../index.html">Keyday Electronics</a>&reg;, as&iacute; como los t&eacute;rminos y condiciones que rigen el acceso y la utilizaci&oacute;n de nuestros servicios. 
    </p>
    <p>
        <b>
        Informaci&oacute;n General
        </b>
    </p>    
    <p>
        Denominaci&oacute;n Social: Keyday Electronics S.L.&reg; <br>
        Domicilio Fiscal: Keyday Electronics 123 Sunset Lane, Suite 7 Honolulu, HI 96815 United States <br>
        Contacto: keydayelectronics@gmail.com | Tel&eacute;fono: +34 912 345 678
    </p>
    <p>
        <b>
        Condiciones de Uso
        </b>
    </p>
    <!-- este parrafo contiene un enlace a la pagina de politica de privacidad-->
    <p>
        El acceso al sitio web implica la aceptaci&oacute;n de la <a href="politica_de_privacidad.html" target="_blank">p&oacute;litica de privacidad</a> aqu&iacute; establecida.
    </p>
    <p>
        El usuario se compromete a utilizar el sitio web de manera responsable y en conformidad con la legislaci&oacute;n aplicable, absteni&eacute;ndose de realizar actividades il&iacute;citas o que puedan perjudicar a Keyday Electronics&reg; o a terceros.
    </p>
    <p>
        <b>
        Propiedad Intelectual
        </b>
    </p>
    <p>
        Todos los contenidos del sitio web, incluidos textos, im&aacute;genes, dise&ntilde;os y logotipos, son propiedad de Keyday Electronics&reg; y est&aacute;n protegidos por derechos de autor. Queda prohibida su reproducci&oacute;n total o parcial sin autorizaci&oacute;n previa.
    </p>
    <p>
        <b>
        Limitaci&oacute;n de Responsabilidad
        </b>
    </p>
    <p>
        Keyday Electronics&reg; no se hace responsable de los da&ntilde;os o perjuicios derivados del uso indebido del sitio web.
    </p>
    <p>
        El acceso a enlaces externos no supone responsabilidad alguna sobre el contenido o pol&iacute;ticas de privacidad de dichos sitios.
    </p>
</body>
</html>