<!DOCTYPE html>
<html lang="es">
<head>
    <!--codificacion de los caracteres-->
    <meta charset="UTF-8">
    <!--meta viewport para que el navegador cargue la web desde diferentes dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--descripcion de la pagina web-->
    <meta name="description" content="Empresa de Electronica y Robotica">
    <!--palabras clave para el buscador-->
    <meta name="keywords" content="Keyday, Electronics, keydayelectronics, Electronica, Robotica, Robotics">
    <!--autor de la pagina-->
    <meta name="author" content="Francesc Miquel">
    <!--permite a los motores indexar la pagina-->
    <meta name="robots" content="index, follow">
    <!--enlace al archivo de estilo en la carpeta /css -->
    <link rel="stylesheet" href="../css/style.css">
    <!--enlace al icono de la ventana del navegador-->
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <title>Pol&iacute;tica de Privacidad</title>
</head>
<body>
    <h1>Pol&iacute;tica de Privacidad</h1>
    <!-- este parrafo contiene un enlace a la pagina principal-->
    <p>
        En <a href="../index.html">Keyday Electronics</a>&reg;, nos comprometemos a proteger la privacidad y los datos personales de nuestros clientes y usuarios. <br>
        La presente Pol&iacute;tica de Privacidad describe c&oacute;mo recopilamos, utilizamos y protegemos la informaci&oacute;n personal que nos proporciones al interactuar con nuestros productos y servicios.
    </p>      
    <p>
        <b>
        Recopilaci&oacute;n de Datos 
        </b>
    </p>  
    <p>
        Recopilamos informaci&oacute;n personal como nombre, direcci&oacute;n de correo electr&oacute;nico, n&uacute;mero de tel&eacute;fono, y datos relacionados con las preferencias de compra, &uacute;nicamente cuando t&uacute; los proporcionas voluntariamente.
    </p>
    <p>
        <b>
            Uso de los Datos
        </b>
    </p>  
    <p>
        Los datos recopilados ser&aacute;n utilizados para procesar tus pedidos, personalizar tu experiencia de usuario, y enviarte promociones relacionadas con nuestros productos. <br>
        Utilizamos cookies y tecnolog&iacute;as similares para mejorar tu experiencia en nuestro sitio web y analizar el comportamiento de los usuarios. <br>
        Nunca compartimos, vendemos ni comercializamos tus datos con terceros sin tu consentimiento expl&iacute;cito.
    </p>
    <p>
        <b>
            Protecci&oacute;n de los Datos
        </b>
    </p>
    <p>
        Implementamos medidas de seguridad avanzadas, tanto f&iacute;sicas como digitales, para proteger tus datos personales contra accesos no autorizados. <br>
        Almacenamos tu informaci&oacute;n en servidores seguros, cumpliendo con est&aacute;ndares de privacidad internacionales.
    </p>
    <p>
        <b>
        Tus Derechos
        </b>
    </p>        
    <!-- este parrafo contiene un enlace mailto:-->
        <p>
            Tienes derecho a rechazar el uso de cookies y la recepci&oacute;n de comunicaciones promocionales. <br>
            Puedes solicitar acceso, modificaci&oacute;n o eliminaci&oacute;n de tus datos personales en cualquier momento envi&aacute;ndonos un correo electr&oacute;nico a <a href="mailto:keydayelectronics@gmail.com">keydayelectronics@gmail.com</a>.
        </p>
</body>
</html>